[user]
	name = Yigit Gunduc
	email = ygunduc@gmail.com
[pull]
	rebase = true
[fetch]
	prune = true
[init]
	defaultBranch = master
[alias]
	st = status -sb
	co = checkout
	br = branch
	lg = log --graph --decorate --oneline --all
# Conditional override for MSU
[includeIf "gitdir:~/Developer/msu/"]
    path = ~/.gitconfig.msu
